{% extends "site_base.html" %}

{% block head_title %}Surveys{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 surveys">
            {% include "formly/design/_surveys.html" %}
        </div>
        <div class="col-md-3 pages">
            {% include "formly/design/_pages.html" %}
        </div>
        <div class="col-md-3 fields">
            {% include "formly/design/_fields.html" %}
        </div>
        <div class="col-md-3 field_edit">
            {% include "formly/design/_field_edit.html" %}
        </div>
    </div>
{% endblock %}
